body {
    background: white;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    transition-duration: 0.3s;
}

#navigation {
    position: fixed;
    background: transparent;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    height: 50px;
    transition-duration: 0.2s;
    /* border-bottom: 1px solid #ccc; */
    /* border: 1px solid rgb(182, 0, 55); */
}

#navigation ul{
    float: right;
}

#navigation li {
    list-style: none;
    float: left;
    padding-right: 25px;
}

#navigation ul li a {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}

#navigation ul li a:hover {
    color: rgb(230, 230, 0);
}

.title-page {
    float: left;
    padding: 15px;
    font-weight: 700;
    color: white;
}

.title-page:hover {
    background-color: rgb(230, 230, 0);
}

#header {
    margin: 0 auto;
    /* margin-top: -10px; */
    width: 100%;
    height: 700px;
    /* background: rgb(77, 64, 64); */
    background: #fff url("../img/oil-mine.jpg") no-repeat;
    background-size: cover;
}

#header h1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: left;
}

.bg-header {
    background: #fff url("../img/negotiations.jpeg") no-repeat;
    background-size: cover;
    height: 100%;
}

.mask-custom {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    padding: 0;
    position: relative;
}

.header-title {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-title h2 {
    color: white;
    font-size: 75px;
    font-weight: 700;
}

.see-more {
    padding: 15px;
    background: rgb(78, 53, 53);
    /* align-items: center; */
    width: auto;
    color: rgb(230, 230, 0);
    transition-duration: 0.2s;
}

.see-more:hover {
    background: rgb(44, 30, 30);
}

#content-wrapper {
    max-width: 95%;
    padding: 20px;
    margin: 0 auto;
}

.content-title {
    font-size: 40px;
    color: rgb(59, 45, 45);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

#member-wrapper {
    width: 95%;
    padding: 20px;
    padding-top: 100px;
    margin: auto;
    margin-bottom: 300px;
}

#member-wrapper h3 {
    font-size: 40px;
    color: rgb(59, 45, 45);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.member-card {
    width: 190px;
    height: 230px;
    padding: 20px;
    float: left;
    margin-right: 36px;
    margin-left: 36px;
    color: rgb(65, 65, 65);
}

.member-card img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(233, 190, 0);
    display: block;
}

.member-card h1 {
    font-size: 20px;
    text-align: center;
}

.member-card h2 {
    font-size: 15px;
    text-align: center;
    font-weight: normal;
}

#link-wrapper {
    width: 90%;
    padding: 20px;
    padding-top: 100px;
    background: white;
    margin: auto;
    /* margin-bottom: 100px; */
}

.link-card {
    width: 45%;
    margin: 0 auto;
    height: 100px;
    /* background: rgb(128, 128, 128); */
    margin-bottom: 20px;
    transition-duration: 0.4s;
}

.link-card img {
    float: left;
    width: 100px;
    height: 100px;
    transition-duration: 0.4s;
}

.link-card:hover > img {
    width: 120px;
    height: 120px;
}

.link-card a {
    width: 350px;
    top: 50%;
    position: relative;
    transform: translate(0%, -50%);
    float: right;
    font-size: 35px;
    color: rgb(65, 65, 65);
}

#workspace-wrapper {
    width: 75%;
    margin: auto;
    padding: 20px;
    padding-top: 100px;
    background: white;
    display: block;
    margin: auto;
    margin-bottom: 200px;
}

.workspace-card {
    margin: 0 auto;
}

.workspace-card img {
    float: left;
    width: 20%;
    height: 20%;
    margin-right: 40px;
    margin-left: 40px;
}

#contribution-wrapper {
    margin: auto;
    width: 90%;
    padding: 20px;
    padding-top: 100px;
    /* display: block; */
    margin: auto;
    margin-bottom: 300px;
}

.contribution-card {
    float: left;
    width: 230px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;
}

.contribution-card-profile {
    height: 100px;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}

.contribution-card-profile img {
    float: left;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    /* background: rgb(233, 190, 0); */
}

.contribution-card-profile span {
    float: right;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.contribution-card-profile span h4 {
    margin: 0 auto;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
}

.contribution-card-profile span h5 {
    margin: 0 auto;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
}

.contribution-card-task {
    margin-top: 20px;
}

.contribution-card-task li {
    list-style: none;
    background-image: url(../img/check-icon.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px 20px;
    padding-left: 30px;
}

#footer-wrapper {
    margin-top: 180px;
    width: 100%;
    height: 70px;
    background: rgb(43, 42, 40);
    position: relative;
}

.footer-text {
    font-size: 17px;
    color: rgb(235, 235, 235);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}